@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #5f5f5f;
}

::-webkit-scrollbar-thumb {
    background-color: #afaeae;
    border-radius: 3px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}